@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
  font-weight: semibold;
}

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Light.ttf);
  font-weight: light;
}

* {
  --color-primary: #def81d;
  --color-wd-white: #ffffff;
  --color-wd-grey: #999999;
  --color-wd-darkgrey: #2d2d2d;
  --color-wd-black: #080808;

  font-family: "poppins", "Arial", "sans-serif";
  color: var(--color-wd-white);
}

body {
  background-color: var(--color-wd-black);
}

header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("/assets/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  color: var(--color-primary);

  /* normally, 1rem = 16px */
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.page-subtitle {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.section-title {
  color: var(--color-primary);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;

  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 48px 0px;
}
.section-title::before,
.section-title::after {
  content: "";
  height: 1px;
  background-color: var(--color-primary);
  flex-grow: 1;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.feature-card-reverse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.feature-card > img,
.feature-card-reverse > img {
  flex: 30%;
}
.feature-card > div,
.feature-card-reverse > div {
  flex: 70%;
  background-color: var(--color-wd-darkgre);
  padding: 24px;
}
.feature-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.feature-card-description {
  font-size: 1.5rem;
  font-weight: 300;
}

.images-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: center;
  gap: 1.5rem;
}

.images-grid > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .images-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .images-grid > img {
    height: 291px;
  }
}

@media (min-width: 1280px) {
  .images-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .feature-card {
    flex-direction: row;
  }
  .feature-card-reverse {
    flex-direction: row-reverse;
  }
}
