@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
  font-weight: semibold;
}

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Light.ttf);
  font-weight: light;
}

* {
  --color-primary: #def81d;
  --color-wd-white: #ffffff;
  --color-wd-grey: #999999;
  --color-wd-darkgrey: #2d2d2d;
  --color-wd-black: #080808;

  font-family: "poppins", "Arial", "sans-serif";
  color: var(--color-wd-white);
}

body {
  background-color: var(--color-wd-black);
}

header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("/assets/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  color: var(--color-primary);

  /* normally, 1rem = 16px */
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.page-subtitle {
  color: var(--color-primary);
  font-size: 1.5rem;
}
